<article class="card {{mod}}">
    {% if card_category %}
        <div class="category__wrapper category-{{card_category}}">
            <div class="category__section">
                <a href="#category" class="category__name">{{card_category}}</a><span class="category__line"></span>
            </div>
            <div class="category__divider"></div>
        </div>
    {% endif %}
    {% if card_image %}
        <img class="card__image" src="{{card_image}}"class="card__image" alt=" ">
    {% endif %}
    <header class="card__header">
        <h2 class="card__title">{{card_title}}
        {% if card_icon %}
            <span class="material-icons">{{card_icon}}</span>
        {% endif %}
        </h2>
        <p class="card__author">by {{ card_authors | join(', ')}}</p>
    </header>
    <div class="card__content">
        {{card_content}}
    </div>  
</article>