{% if loop.first and big_card == true %}
<article class="card card--big">
{% else %}
<article class="card">
    <div class="category__wrapper">
        <div class="category__name">
            <span class="category category-{{card_category}}">{{card_category}}</span><hr> 
        </div>
        <hr>
    </div>
{% endif %}
    {% if card_image and big_card == true %}
        <img class="card__image" src="{{card_image}}"class="card__image" alt=" ">
    {% endif %}
    <header class="card__header">
        <h2 class="card__title">{{card_title}}
        {% if big_card == false %}
            <span class="material-icons">call_made</span>
        {% endif %}
        </h2>
    <p class="card__author">By {{ card_authors | join(', ')}}</p>
    </header>
    <div class="card__content">
        <p>
        Pony app rainbows social wereunicorn social pony surprise pigeon. Pop pony kittens wereunicorn surprise puppy surprise. Unicorn kittens wereunicorn pigeon pop pop unicorn pony surprise.
        </p>
    </div>  
</article>