<article class="card {{mod}}">
    {% if card_category %}
        <div class="category__wrapper">
            <div class="category__name">
                <span class="category category-{{card_category}}">{{card_category}}</span><hr> 
            </div>
            <hr>
        </div>
    {% endif %}
    {% if card_image %}
        <img class="card__image" src="{{card_image}}"class="card__image" alt=" ">
    {% endif %}
    <header class="card__header">
        <h2 class="card__title">{{card_title}}
        {% if card_icon %}
            <span class="material-icons">{{card_icon}}</span>
        {% endif %}
        </h2>
    <p class="card__author">By {{ card_authors | join(', ')}}</p>
    </header>
    <div class="card__content">
        {{card_content}}
    </div>  
</article>